<nav class="ep-navbar navbar navbar-expand-lg sticky-top">
    <div class="container">
        <a class="ep-navbar-brand" href="/">
            <span class="brand-icon">⚡</span>EventPrime
        </a>

        <button class="navbar-toggler ep-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-bar"></span>
            <span class="toggler-bar"></span>
            <span class="toggler-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">
                <li class="nav-item">
                    <NavLink class="ep-nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="ep-nav-link" href="/events">Events</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="ep-nav-link" href="/faq">FAQ</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="ep-nav-link" href="/contact">Contact</NavLink>
                </li>
                <li class="nav-item ms-lg-3">
                    <a class="btn ep-cta-btn" href="/events">Browse Events</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

